.todo-task{
    color:red;
    pointer:cursor;
}

.is-completed {
  color:blue;
}

.save-button{
  display:none;
}

.cancel-button{
  display: none;
}

.error-message{
  background: red;
  color: white;
  display: none;
  width: 180px;
}
